.Landing {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 655px;
    background-image: url('../Images/background.jpg');

}
.Landing .info {
    padding: 20px;
    width: 350px;
    border: 1px solid rgba(94, 94, 94, 0.699);
    opacity: 0,3;
    background-color: rgba(255, 255, 255, 0.89);
    box-shadow: 5px 2px 7px 1px rgba(0, 0, 0, 0.322);
}

.Landing .info p {
    margin-left: 15px;
    text-align: left;
}

.Landing .info button {
    cursor: pointer;
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: 25px;
    width: 150px;
    height: 55px;
    background: rgb(255, 255, 255);
    box-shadow: 4px 2px 18px 5px rgba(155, 155, 155, 0.616);
}

.Landing .info button:hover {
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 25px;
    width: 150px;
    height: 55px;
    background: rgb(0, 0, 0);
    transition: 1s;
    box-shadow: 4px 2px 18px 5px rgba(155, 155, 155, 0.616);
}

