.InputSearch {
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    width: 220px;
    margin-top: 20px;
    margin-right: 20px;
    border: 1px solid #b4b3b3;
    border-top: 1px solid #c7c6c6;
    border-radius: 5px;
    height: 40px;
    
  }
  .InputSearch:hover {
    font-weight: 600;
    border: 1px solid #999999;
  }


  .buttonSearch {
    width: 120px;
    height: 40px;
    margin-top: 20px;
    font-size: 15px;
    color: rgb(0, 0, 0);
    background: #fff;
    border: 1px solid #b4b3b3;
    font-weight: 600;
  }

  .buttonSearch:hover {
    cursor: pointer;
    width: 120px;
    height: 40px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    background: rgb(0, 0, 0);
    border: 1px solid rgb(170, 170, 170);
    box-shadow: 1px 3px 10px 5px rgba(212, 212, 212, 0.747);
    transition: 500ms;
  }