body {
    background: rgba(236, 236, 236, 0.89);
}

.Divselect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.DivSelect #select {
    margin: 15px;
    width: 130px;
    border-radius: 5px;
    height: 30px;
    font-size: 16px;
    background: rgb(255, 255, 255);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    font-weight: 600;
}

.DivSelect #select option {
 font-weight: 600;
}