.containerPagination {
    width: 100%;

}

.pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.containerPagination .GameCard {
    display: flex;
    flex-direction: column;
    margin: 1%;
    border: 1px solid rgba(0, 0, 0, 0.253);
    width: 21%;
    height: 9%;
    box-shadow: 5px 4px 17px 3px rgba(0, 0, 0, 0.322);
}
.GameCard img {
    width: 100%;
    height: 300px;
}
.GameCard h2 {
    border-top: 5px;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
}

.GameCard p {
    margin: 0;
    padding: 0;
    text-align: left;
    margin-left: 10px;
    font-weight: 600;
}

.GameCard .genres {
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: rgb(156, 156, 156);
    padding-top: -1%;
}

.GameCard h4 {
    margin-right: 10px;
    word-spacing: 3px;
    color: rgb(156, 156, 156);
    margin-top: -10px;
    margin-bottom: -5px;
}

.GameCard button {
    cursor: pointer;
    width: 120px;
    margin: 4%;
    height: 40px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: 18px;
    background: white;
    border-radius: 5px;
    border: 1px solid;
}
.container .GameCard button:hover {
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 19px;
    background: rgb(0, 0, 0);
    transition: 1s;
    box-shadow: 4px 2px 18px 5px rgba(155, 155, 155, 0.616);
}
